<nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Home</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a href="/savedarticles" class="nav-item active nav-link" id="savedArticle">Saved Articles</a>
                <a href="/" class="nav-item active nav-link" id="newScrape">Scrape New Articles</a>
                <a href="/" class="nav item active nav-link" id="clearArticle">Clear Articles</a>

              
            </ul>

            
        </div>
    </nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">News Scraper</h1> 
    <p class="lead">Washington Post Edition</p>
  </div>
</div>


<div class="container">
            <div class="col-sm-12">
                {{#each scrapes}}
                  {{#if saved}}
                     {{>saved/saved-block}}
                    {{else}}
                     {{>scrapes/scrapes-block}} 
                  {{/if}}
                {{/each}}
            </div>
</div>

      