<nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="index.html" class="navbar-brand">Home</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a href="" class="nav-item active nav-link" id="savedArticle">Saved Articles</a>
                <a href="" class="nav-item active nav-link" id="newScrape">Scrape New Articles</a>
                <a href="" class="nav item active nav-link" id="clearArticle">Clear Articles</a>

               <!-- <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nossos serviços</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="#" class="dropdown-item">Divisão Militar</a>
                        <a href="#" class="dropdown-item">Divisão Corporativa</a>
                        <a href="#" class="dropdown-item">Aplicações para a área de saúde</a>
                    </div>
                </li> -->
            </ul>

            <!-- <form action="#" method="post" class="form-inline my-2 mylg-0">
                <input type="search" name="buscar" id="buscar" class="form-control mr-sm-2" placeholder="Buscar em todo o site" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">Pesquisar</button>
            </form> -->
        </div>
    </nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">News Scraper</h1> 
    <p class="lead">Washngton Post Edition</p>
  </div>
</div>


<div class="container">
            <div class="col-sm-12">
                {{#each scrapes}}
                  {{#unless saved}}
                    {{>scrapes/scrapes-block}}
                  {{/unless}}
                {{/each}}
<!--
                <div class="bs-calltoaction bs-calltoaction-success">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Its a Call To Action</h1>
                            <div class="cta-desc">
                                <p>Describe the action here.</p>
                                <p>Describe the action here.</p>
                                <p>Describe the action here.</p>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-success">Go for It!</a>
                        </div>
                     </div>
                </div>
-->

               {{!-- <div class="bs-calltoaction bs-calltoaction-warning">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Its a Call To Action</h1>
                            <div class="cta-desc">
                                <p>Describe the action here.</p>
                                <p>Describe the action here.</p>
                                <p>Describe the action here.</p>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-warning">Go for It!</a>
                        </div>
                     </div>
                </div>  --}}
        </div>
    </div>

      